<h1>HomePage</h1>
Hello lowguar
<div class="container">
  </div>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <button type="button" class="btn btn-warning">Warning</button>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <button type="button" class="btn btn-warning">Warning</button>
 
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        <button type="button" class="btn btn-warning">Warning</button>

      </div>
    </div>

  </div>